asgiref==3.8.1
django==5.0.10
django-stubs[compatible-mypy]==5.0.2
django-stubs-ext==5.0.2
mypy==1.10.1
mypy-extensions==1.0.0
pillow==10.4.0
python-dotenv==1.0.1
sqlparse==0.5.0
typing-extensions==4.12.2
types-pyyaml==6.0.12.20240311
