$beige: #FAF0E3;

$gray-blue: #C1C8E4;

$medium-gray: #333333;

$pastel-peach: #FFB07C;

$medium-sky-blue: #5AB9EA;

$light-cerulean-blue: #5680E9;

$light-sky-blue: #84CEEB;

$medium-purple: #8860D0;
